.search-input {
    width: 100px;
}

.contain-search {
    margin-top: 6rem;
    margin-bottom: 20px;
}

.contain-search button {
    width: 150px;
}

.contain-search .form-control {
    background-color: rgba(29, 65, 245, 0.1)
}

.container-listJob .main {
    padding: 20px;
    float: right;
}

.container-listJob .card-job {
    position: relative;
    left: -1rem;
    border: solid 1px lightgrey;
    border-radius: 4px;
    height: 230px;
    margin-left: 65px;
    margin-bottom: 35px;
    cursor: pointer;
}

.container-listJob {
   display: flex;
}
.left-div {
    flex: 2;
    height: 100vh;
    overflow: scroll;
}

.right-div{
    flex: 10;
    height: 100vh;
    overflow: scroll;
}
.container-listJob .card-logo {
    margin-top: 10px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.job-description {
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;

}

.companyName {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: royalblue;
    margin-top: -1em;

}

.container-listJob .sideBar {
    margin-top: 20px;
    /*position: fixed;*/
}

.description {
    padding: 2px;
    font-size: 14px;
}

.icon-description {
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-right: 5px;
}

.card-job {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.card-job:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.left-div::-webkit-scrollbar {
    height: 2px;
    width: 10px;
}

.left-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 9.5vh;
    border-radius: 5px;

}

.left-div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: lightgrey;
}

.left-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.right-div::-webkit-scrollbar {
    height: 2px;
    width: 10px;
}
.right-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 9.5vh;

}

.right-div::-webkit-scrollbar-thumb {
    background: lightgrey;
}

.right-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}