nav{
    position: fixed !important;
    width: 100%;
    z-index: 999;
    top:0;
    border-bottom: solid 1px lightgrey;
    background: white !important;

}
.name-user{
    position: relative;
    right: 7rem;
    margin-top: 15px;
}
.login{
    position: relative;
    right: 130px;
    color: black;
    line-height: 40px;
}
.logout{
    border: none;
    background: white;
    position: relative;
    margin-left: -40px;
    margin-right: 0;
    color: black;
    right: 36px;
}
.logout:hover{
    color: lightslategrey;
}
a:hover{
    color: gray !important;
    text-decoration: none !important;
}
.navbar img{
    width: 70px;
    height: 40px;
    object-fit: cover;
}
