nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    top:0;
    border-bottom: solid 1px lightgrey;
    background: white !important;

}
.login{
    position: fixed;
    right: 90px;
    color: black;
    line-height: 40px;
}
a:hover{
    color: gray !important;
    text-decoration: none !important;
}
.navbar img{
    width: 70px;
    height: 40px;
    object-fit: cover;
}