nav{
    position: fixed !important;
    width: 100%;
    z-index: 999;
    top:0;
    border-bottom: solid 1px lightgrey;
    background: white !important;

}
.name-user{
    position: relative;
    right: 7rem;
    margin-top: 15px;
}
.login1{
    position: relative;
    right: 130px;
    color: black;
    line-height: 40px;
    font-weight: 500;
}
.logout{
    border: none;
    background: white;
    position: relative;
    margin-left: -40px;
    margin-right: 0;
    color: black;
    right: 36px;
    font-weight: 500;

}
.logout:hover{
    color: lightslategrey;
}
a:hover{
    color: gray !important;
    text-decoration: none !important;
}
.navbar img{
    width: 80px;
    height: 60px;
    object-fit: cover;
}
.active{
    font-weight: 500;
}
.active a:focus{
    border-bottom: 2px solid;
}
.active a::after{
    border-bottom: 2px solid;
}
#search:hover{
    opacity: 0.8;
}
#out1{
    width: 180%;
    border: 1px solid red;
    line-height: 35px ;
    background: white;
    position: relative;
    margin-left: -30px;
    margin-right: 0;
    color: red;
    right: 36px;
    font-weight: 500;
    border-radius: 5px;

}
#out1:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
#btn3{
    border: none;
    background-color: white;
}