.container-sideBar{
    border: solid 1px lightgrey;
    border-radius: 4px;
    width: 330px;
    margin-left: 0;
}
.container-sideBar p{
    font-weight: 400;
    font-size: 17px;
}
.container-sideBar .type-job{

}


hr {
    /*margin-bottom: 0rem !important;*/
}