.container-sideBar{
    border: solid 1px lightgrey;
    border-radius: 4px;
    width: 330px;
    margin-left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.container-sideBar p{
    font-weight: 400;
    font-size: 17px;
}
.container-sideBar .type-job{

}


hr {
    /*margin-bottom: 0rem !important;*/
}
.filter-job{
margin-left: 4%;

}
.filter-job label {
    margin-left: 2%;
}
.check-box{
    margin-left: 4%;
}
.option{
    margin-left: 2%;
}
.css-checkbox{
margin-left: 4%;
}