.work-navbar{
    height: 62px;
}
.add a{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.add{
    margin-top: 5%;
}
.edit div{
    position: relative;
    left: 32%;
    font-size: 18px;
    font-weight: 500;
}
.li-avatar{
    position: relative;
    left: 55rem;
    font-size: 18px;
}

.logout {
    position: relative;
    left: 68rem;
    font-size: 18px;
}
.logout button {
    position: relative;
    border: none;
    background: white;
    font-weight: 500;
    font-size: 18px;
}
.edit{
    cursor: pointer;
}
.edit:hover{
    color: rgba(60, 60, 60,0.6)
}
#out{

    line-height: 190%;
    width: 120%;
    color: red;
    background: white;
    border: 1px solid red;
    border-radius: 5px;
}
#out:hover{
    color: white ;
    background-color: red;
}
#edit{
    border:none;
    background-color: white;
}
#avatar-work{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}