.container-add-job {
    margin-top: 3.9em;
    height: 100%;
    object-fit: cover;
}

.title-add-job {
    text-align: center;
    padding: 1em;
}

.form-add-job {
    background-color: white;
    border-radius: 0.5em;
    height: 100%;
}

.name-item {
    font-size: 0.7em;

}

.input-info-job {
    width: 95%!important;
    height: 20%!important;
}
.group-input{
    margin-left: 1.5em!important;
    margin-bottom: 0.3em!important;
}
.input-job{
    padding: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.input-job .btn{
    position: relative;
    margin-left: 44%;
    margin-top: 1em;
}
.input-info-wage{
    height: 50%!important;
    width: 110%!important;
}
.input-info-category{
    height: 53%!important;
    width: 110%!important;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}