.work-navbar{
    height: 62px;
}
.add a{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.edit div{
    position: relative;
    left: 32%;
    font-size: 18px;
    font-weight: 500;
}


.logout {
    position: relative;
    left: 35rem;
    font-size: 18px;
}
.logout button {
    position: relative;
    border: none;
    background: white;
    font-weight: 500;
    font-size: 18px;
    left: 150%;
}
.edit{
    cursor: pointer;
}
.edit:hover{
    color: rgba(60, 60, 60,0.6)
}