

.container-listJobWork{
    margin-top: 5rem;
    width: 99%;
}
.main{
    padding: 20px;
    float: right;
}

.container-listJobWork .card-job-work{
    max-width: 26.3333333% !important;
    position: relative;
    left: 2rem;
    border: solid 1px lightgrey;
    border-radius: 4px;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 3%;
    float: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.container-listJobWork .card-logo-work{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.card-description{
    padding: 2px;
    font-size: 14px;
    margin-top: -0.2em;

}
.icon-description-work{
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-right: 5px;

}
.job-description-work{
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 1.5rem;
}
.companyName-work{
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: royalblue;
    margin-left: 1.5rem;
    margin-top: -1em;

}
.container-listJobWork .card-job-work:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
}